@import '../variables/index';

html,
body {
  background-color: $BACKGROUND-GRAY;
  color: $TEXT-GRAY;
  height: 100%;
  margin: 0;
  padding: 0;
}

// grobal read style


@mixin font {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: normal;
}

.se-container {
  @include font;

  height: 100%;
  margin: 0;
  overflow: hidden;
  text-align: center;
  width: 100%;
}
