<div class="se-container">
  <div class="level-select-wrapper">

    <div class="title-section">
      <h3 i18n>Level select</h3>
    </div>

    <div class="control-section">
      <button
      i18n
      mat-stroked-button
      class="button"
      color="primary"
      (click)="onClickLevelButton('easy')"
      >Easy</button>
      <button
      i18n
      mat-stroked-button
      class="button"
      color="primary"
      (click)="onClickLevelButton('normal')"
      >Normal</button>
      <button
      i18n
      mat-stroked-button
      class="button"
      color="primary"
      (click)="onClickLevelButton('hard')"
      >Hard</button>

    </div>

  </div>
</div>
