se-game-board {
  left: 0;
  position: absolute;
  top: 0;
}

.game-timer {
  left: 10px;
  margin: 0;
  position: absolute;
  top: 10px;
}

.game-score {
  left: 10px;
  margin: 0;
  position: absolute;
  top: 30px;
}
