<div class="se-container">
  <div class="start-up-wrapper">

    <div class="title-section">
      <h2 class="main-title">same emoji</h2>
      <h3>Select the same emoji and erase 👾</h3>
    </div>

    <div class="control-section">
      <button
      mat-stroked-button
      class="start-button"
      (click)="onClickQuiqStart()"
      color="primary">Start Now!</button>

      <button
      mat-stroked-button
      class="start-button"
      (click)="onClickStart()"
      color="primary">Start with Level Select</button>
    </div>

  </div>
</div>
